*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: #755b84;
}

header {
    padding-top: 0px;
}

/* Back to the top button CSS */
#myBtn{
    background-color: transparent;
    border: none;
}

.to-top-btn {
    max-width: 70px;
}

/* Contact fixed section */
.contact-icons {
    display: flex;
    flex-direction: column;    
    position: fixed;
    z-index: 1000;   
    font-size: 30px; 
    gap: 30px;
    padding-bottom: 1%
    /* background-color: #755b84; */
}

.contact-icons a {
    color: #fbfcfc; /* Icon color */
    margin: 0 20px; /* Spacing between icons */
    text-shadow: 1.5px 1.5px 1.5px rgb(7, 7, 7);
}

.contact-icons a:hover {
    color: #f3a2f9; /* Hover color */
    transition: 0.4s;
}


/* Start of header */
.header-img {
    width: 100%;
    max-height: 300px;
}

/* Header Image CSS */
.image-text-container {
    position: relative;
}

/* Header Img Text */
.centered-text {
    font-family: "Indie Flower", cursive;
    position: absolute;
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to perfectly center */
    color: white; /* Example text color */
    font-size: 8.2vw; /* Example font size */
    text-shadow: 2.2px 2.2px 2.2px black; /* Example text shadow */
}

/* Navbar Font*/
.indie-flower-nav {
    font-family: "Indie Flower", cursive;
    font-optical-sizing: auto;
    color: #f3a2f9;
    font-size: 1.6rem;
    padding-bottom: 4px;
    padding-top: 4px;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    transition: 0.4s;
}

.indie-flower-nav:hover {
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
}

.navbar-brand {
    animation : wiggle 2s infinite;
}

/* Title Styles */
.projects-header, .skills-header, .contact-header, .header-welcome {
    font-family: "Indie Flower", cursive;
    display: flex;
    font-size: 2.6rem;
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 2%;
}

/* Creating a text effect - text wiggle or swing */
@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

.header-welcome {
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 5rem;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    animation: wiggle 2s ease-in-out;
}

.head-title-text {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%; /* Ensure full width */
}

.head-title-text p {
    font-size: 1.6rem;
    padding-bottom: 2%;
    max-width: 80%;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    margin: 0 auto; /* Center the paragraph within the flex container */
}

/* Body Begins */
/* Skills Section */
.skills-header {
    padding-bottom: 1%;
    padding-top: 10%;
}

.nav-link{
    font-family: "Indie Flower", cursive;
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgb(7, 7, 7);
}

.nav-link:hover {
    color: #f3a2f9;
    transition: 0.4s;
}

.nav-link.active {
    background-color: #f3a2f9 !important; /* Example: A light purple color */
    color: rgb(7, 7, 7) !important; /* Change text color if needed */
    text-shadow: 0px 0px 0px rgb(7, 7, 7);
}

.tab-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: #090909;
    text-align: center;
    transition: 0.4s;
    min-width: 150px;
}

.skill-container > * { /* Targeting all direct children of .skill-container */
    flex-shrink: 0; /* Prevents the items from shrinking */
    min-width: 100px; /* Adjust this value based on the minimum width needed for your items */
}

.skill-img {
    width: 100px;
    height: 100px;
    min-width: 100px;
}

.skill-container:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.skill-text {
    font-size: 1.2rem;
    margin-top: -2px;
    font-weight: bold;
}

/* Projects Section */
#projects {
    padding-bottom: 3%;
    justify-content: center;
    align-items: center;
}

.project-header{
    padding-top: 2%;

}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2.5%;

}

/* Individual project titles */
.project-title {
    font-family: "Indie Flower", cursive;
    font-size: 2rem;
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    padding-top: 15px;
    text-align: center;
}

/* Line underneath the project titles */
.project-title-link {
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
}

.project-title-link:hover {
    color: #f3a2f9fa;
    text-shadow: 0px 0px 0px rgb(106, 15, 111);
    transition: 0.4s;
}

/* Project Image */
.project-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding-top: 10px;
}

/* Project Description */
.project-body {
    padding-top: 10px;
    
    text-shadow: 1px 1px 1px rgb(7, 7, 7);
}

.project-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Project Button */
.project-button {
    display: block;
    margin: 0 auto;
    width: fit-content;
    font-family: "Indie Flower", cursive;
    font-size: 1.2rem;
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    border-color: black;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.4s;
}

.project-button:hover {
    background-color: #f3a2f9;
    color: #090909;
    border-color: #090909;
    text-shadow: 0px 0px 0px rgb(106, 15, 111);
    transition: 0.4s;
}

/* Break Line Between Sections */
.break-line, .about-break-line, .projects-break-line {
    height: 6px; 
    background-color: #faf9fa; 
    width: 100%; 
    margin: 0 auto; 
    margin-top: 90px;
    margin-bottom: 30px; 
    opacity: 0.7; 
}

/* About Me Full Container */
#about-em-container {
    padding-top: 4.5%;
}

/* about me img */
.about-img {
    border-radius: 50%;
    min-width: 170px;
    
}

/* About Me Text */
.about-text-container {
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 6.2%;
    text-shadow: 1px 1px 1px rgb(7, 7, 7);
    max-height: 55%;
}

.about-title{
    font-family: "Indie Flower", cursive;
    font-size: 2.5rem;
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    /* text-decoration: underline; */
    padding-bottom: 10px;
}

/* Contacts Section */
#contact-em {
    padding-top: 1%;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .about-img {
        display: none;
    }

    .about-text-container {
        text-align: center;
    }

    .tab-pane {
        display: flex;
        flex-direction: column; /* Change to column to stack children vertically */
        justify-content: center;
        align-items: center;
        min-width: 50%;
    }

    /* Assuming .icon-container is the class wrapping your icons */
    .tab-pane .icon-container {
        /* Adjust height as needed */
        height: auto; /* Example to make height adjust based on content */
        display: flex; /* Ensure flex layout for icons */
        justify-content: center; /* Center icons horizontally */
        align-items: center; /* Center icons vertically */
        flex-wrap: wrap; /* Allow icons to wrap */
    }

    /* Directly target icons if they have a specific class or are img elements */
    .tab-pane .icon-container img {
        /* Example to adjust icon size */
        width: 50px; /* Adjust based on desired size */
        height: auto; /* Maintain aspect ratio */
        margin: 5px; /* Add some space around icons */
    }
}


