*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: #755b84;
}

header {
    padding-top: 0px;
}

/* Back to the top button CSS */
#myBtn{
    background-color: transparent;
    border: none;
}

.to-top-btn {
    position: fixed;
    bottom: 20px; /* Position it at the bottom of the viewport */
    right: 20px; /* Place it on the right side of the screen */
    z-index: 1000;
    max-width: 70px;
}

/* Contact fixed section */
.contact-icons {
    display: flex;
    flex-direction: column;    
    position: fixed;
    top: 25%;
    z-index: 1000;   
    font-size: 30px; 
    gap: 30px;
    padding-bottom: 1%
    /* background-color: #755b84; */
}

.contact-icons a {
    color: #fbfcfc; /* Icon color */
    margin: 0 20px; /* Spacing between icons */
    text-shadow: 1.5px 1.5px 1.5px rgb(7, 7, 7);
}

.contact-icons a:hover {
    color: #f3a2f9; /* Hover color */
    transition: 0.4s;
}

.header-welcome{
    font-size: 10px;
}

/* Start of header */
.header-img {
    width: 100%;
    max-height: 300px;
}

/* Header Image CSS */
.image-text-container {
    position: relative;
}

/* Header Img Text */
.centered-text {
    font-family: "Indie Flower", cursive;
    position: absolute;
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to perfectly center */
    color: white; /* Example text color */
    font-size: 8.2vw; /* Example font size */
    text-shadow: 2.2px 2.2px 2.2px black; /* Example text shadow */
}

/* Navbar Font*/
.indie-flower-nav {
    font-family: "Indie Flower", cursive;
    font-optical-sizing: auto;
    color: #f3a2f9;
    font-size: 1.6rem;
    padding-bottom: 4px;
    padding-top: 4px;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    transition: 0.4s;
}

.indie-flower-nav:hover {
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
}

.navbar-brand {
    animation : wiggle 5s ease-in-out infinite;
}

/* Title Styles */
.projects-header, .skills-header, .contact-header, .header-welcome {
    font-family: "Indie Flower", cursive;
    display: flex;
    font-size: 2.8rem;
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    justify-content: center;
    margin-bottom: 3%;
    
}


/* Creating a text effect - text wiggle or swing */
@keyframes wiggle {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
}

.header-welcome {
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 5rem;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    animation: wiggle 5s ease-in-out infinite;
}

.head-title-text {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%; /* Ensure full width */
}

.head-title-text p {
    font-size: 1.6rem;
    padding-bottom: 2%;
    max-width: 80%;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    margin: 0 auto; /* Center the paragraph within the flex container */
}

/* Welcome Section */
.welcome-text {
    font-family: "Indie Flower", cursive;
    font-size: 2.5rem;
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
}

/* Body Begins */
/* Skills Section */
.skills-header {
    padding-bottom: 1.6%;
    padding-top: 10%;
}

.nav-link{
    font-family: "Indie Flower", cursive;
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgb(7, 7, 7);
}

.nav-link:hover {
    color: #f3a2f9;
    transition: 0.4s;
}

.nav-link.active {
    background-color: #f3a2f9 !important; /* Example: A light purple color */
    color: rgb(7, 7, 7) !important; /* Change text color if needed */
    text-shadow: 0px 0px 0px rgb(7, 7, 7);
}

.tab-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: #090909;
    text-align: center;
    transition: 0.4s;
    min-width: 150px;
}

.skill-container > * { /* Targeting all direct children of .skill-container */
    flex-shrink: 0; /* Prevents the items from shrinking */
    min-width: 100px; /* Adjust this value based on the minimum width needed for your items */
}

.skill-img {
    width: 100px;
    height: 100px;
    min-width: 100px;
}

.skill-container:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.skill-text {
    font-size: 1.2rem;
    margin-top: -2px;
    font-weight: bold;
}

.tab-pane {
    padding: 20px 0;
    width: 100vw; /* Ensure the width does not exceed the viewport */
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.tab-pane .icon-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Adjust to center for better alignment on all screen sizes */
    padding: 10px;
    align-items: center;
    gap: 1px;
    margin-left: auto; /* Adjusted for responsiveness */
    margin-right: auto; /* Adjusted for responsiveness */
}


/* Projects Section */
#projects-main-title {
    font-family: "Indie Flower", cursive;
    font-size: 2.8rem;
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    padding-top: 10%;
}

#projects-main-title:hover, .projects-header:hover {
    color: #f3a2f9;
    transition: 0.4s;
}

/* container for all projects below header */
.projects-body-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}


/* .Project Individual Title Link */
.project-title, .project-title-link {
    font-family: "Indie Flower", cursive;
    font-size: 2rem;
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    padding-top: 10%;
    padding-bottom: 2%;
    text-align: center;
    text-decoration-color: #f7f7f7;
}

.project-title:hover, .projects-header:hover {
    color: #f3a2f9;
    transition: 0.4s;
}

/* under project text */
.project-body {
    font-size: 1.2rem;
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

/* projects live and github links container */
.project-links-container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* padding-top: 2%;
    padding-bottom: 2%; */
}

.project-links-container a {
    margin: 0 20px;
    text-align: center;
}

/* Project Button */
.project-button {
    display: block;
    margin: 0 auto;
    width: fit-content;
    font-family: "Indie Flower", cursive;
    font-size: 1.5rem;
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    border-color: black;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.4s;
}

.project-button:hover {
    /* background-color: #f3a2f9; */
    color: #090909;
    /* border-color: #090909; */
    text-shadow: 0px 0px 0px rgb(106, 15, 111);
    transition: 0.4s;
}

.git-stack-link{
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    text-align: center;
    padding-top: 5%;
    font-size: 1.2rem;
}

.git-stack-link a {
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    border: 1px solid #f7f7f7;
    text-align: center;
    padding: 10px 20px;
    transition: 0.4s;
    text-decoration: none;
    border-radius: 5px;
}

.git-stack-link a:hover {
    background-color: #f3a2f9;
    color: #090909 !important;
    border-color: #090909;
    text-shadow: 0px 0px 0px rgb(106, 15, 111);
    transition: 0.4s;
}



/* Break Line Between Sections */
.break-line, .about-break-line, .projects-break-line {
    height: 6px; 
    background-color: #faf9fa; 
    width: 100%; 
    margin: 0 auto; 
    margin-top: 90px;
    margin-bottom: 30px; 
    opacity: 0.8; 
}

/* About Me Full Container */
/* Assuming #about-em-container is the parent container */
#about-em-container {
    display: flex;
    justify-content: center; /* Adjusts spacing between text and image */
    align-items: center; /* Centers items vertically */
    padding-top: 4.5%;
    padding-bottom: 2.5%;
    
}

.about-img {
    border-radius: 50%;
    min-width: 170px;
    /* margin-left: 20%; */
    padding-bottom: 3%;
    box-shadow: 5px 0px 5px #090909;
    background-color: #090909;
} 

.about-text-container {
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
    font-size: larger;
    padding-top: 10px;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    min-width: 90%;
}

.about-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.about-title{
    font-family: "Indie Flower", cursive;
    font-size: 2.5rem;
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgb(7, 7, 7);
    /* text-decoration: underline; */
    padding-bottom: 16px;
}

/* Contacts Section */
#contact-em {
    padding-top: 1%;
}

/* Media Queries */
@media (max-width: 1027px){
    #contact-em {
        display: none; /* Hide contact section on smaller screens */
    }

    .about-img {
        max-width: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* display: none;  */
        /* Hide large images that don't fit well on small screens */
    }

    .about-img-container{
        padding-top: 2%;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
}

@media screen and (max-width: 768px) {
    
    .about-img {
        max-width: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* display: none;  */
        /* Hide large images that don't fit well on small screens */
    }

    .about-img-container{
        padding-top: 2%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-text-container{
        text-align: center; /* Center-align text for better readability */
        flex-direction: column; /* Stack elements vertically */
        justify-content: center;
        align-items: center;
    }

    /* The pane for skill icons */
    .tab-pane {
        padding: 20px 0; /* Add some padding around tab content for spacing */
        width: 100%; /* Use full width of the screen */
    }

    .tab-pane .icon-container {
        margin-left: 10px; /* Reduced margin for smaller screens */
        margin-right: 10px; /* Ensures content is not pushed too far on small screens */
    }

    .tab-pane .row {
        padding-left: 10px; /* Adjust padding for smaller screens */
    }

    .tab-pane .skill-container {
        flex: 0 0 auto; /* Prevent flex items from growing or shrinking */
        margin-right: 1px; /* Adjusted space between items, increase if needed */
        margin-bottom: 10px; /* Add bottom margin for when they wrap */
    }

    
    /* Adjust font sizes for smaller screens to ensure text is not too large */
    body, h1, h2, h3, p {
        font-size: 90%; /* Reduce font size to 90% of the original size */
    }

    /* Improve form layout */
    form input[type="text"],
    form input[type="email"],
    form textarea {
        width: 90%; /* Make form inputs take up most of the screen width */
        margin: 10px 0; /* Add some margin for spacing between form fields */
    }

    /* Button adjustments */
    button, .btn {
        width: auto; /* Allow buttons to size according to their content */
        padding: 10px 20px; /* Increase padding for better touch interaction */
    }

    #skills {
        padding-top: 15%;
    }
    
    .project-button {
        padding: 5px 10px;
        font-size: 1.5rem;
    }

    .project-body {
        font-size: 1rem;
    }

    .project-button:hover {
        color: #f3a2f9;
        text-shadow: 1px 1px 1px rgb(7, 7, 7);
    }

    .project-title {
        padding-top: 20%;
    }

    .git-stack-link {
        padding-top: 15%;
        margin-bottom: 2px;
    }

    .git-stack-link a {
        padding: 10px 20px;
        font-size: 1.2rem;
        background-color: #f3a2f9;
    }

}


/* 
@media screen and (max-width: 470px) {

    
} */


