body {
    text-align: center;
}

header {
    padding: 70px;
    /* background-color: rgb(216, 171, 240); */
    background-image: url(./images/cloud.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    /* margin-bottom: 6px; */
    /* margin-top: 1px; */
    
    
    
}

@media screen and (max-width: 768px) {
    header {
        background-size: 80%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        background-size: 60%;
    }
}

@media screen and (min-width: 1025px) {
    header {
        background-size: 40%;
    }
}

h1 {
    color: purple;
    text-align: center;
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    margin-left: -1px;
    margin-top: 50px;
}

nav {
    
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}